<app-rooms-header></app-rooms-header>

<div class="container mt-4 ">
  <div *ngIf="isLoading" class="text-center mt-5">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let room of rooms">
      <div class="card mb-3 text-center">
        <a routerLink="{{ room._id }}">
          <img
            style="width: 150px; height: 150px"
            class="card-img-top img-thumbnail"
            src="{{ room.image }}"
            alt=""
          />
          <div class="card-footer text-center">
            <span>{{ room.name | titlecase }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
